streamlit
python-dotenv
pandas
numpy
scikit-learn

langchain
langchain-core
langchain-community
langchain-openai
langgraph
langsmith

# Vector Database & Embeddings
chromadb==1.5.7
sentence-transformers==5.3.0
torch==2.11.0
torchvision==0.26.0

# Utilities used in notebooks and data workflows
requests
tqdm
kaggle
beautifulsoup4
lxml
matplotlib
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

protobuf==3.20.3
